# SPDX-FileCopyrightText: 2025 G. Mohammad <ghmuhammad324@gmail.com>
# SPDX-License-Identifier: Apache-2.0

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
Ml_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# macOS & Linux files
.DS_Store
Thumbs.db

# # Logs and outputs
# output/*.csv
# output/*.png
# output/*.pdf
# output/*.html

# Sample/testing scripts
sample_logs.py

# Compiled files
*.log
*.out

# Windows-specific junk
ehthumbs.db
Desktop.ini
